# Example .gitignore file for your config dir.

# Ignore folders.
.storage
.cloud
.google.token
*__pycache__*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secret.yaml
secrets.yaml
known_devices.yaml

# Other secrets and/or DB/info files to ignore
.HA_VERSION
plex.conf
*.log
*.db
*.db-shm
*.db-wal
.uuid
portainer/config.json
node-red/.config.json.backup
node-red/.sessions.json

# Backup
backup/backup.conf

# Helper scripts


# Security
*.key
*.pub
*.pem
.secrets.env

# deconz

# dockermon

# Home Assistant
homeassistant/OZW_Log.txt
homeassistant/zwcfg_0xe1bc9a5c.xml
homeassistant/custom_components/alexa_media
homeassistant/custom_components/hacs

# mosquitto
mosquitto/.passwd

# Node-RED
node-red/node_modules/
node-red/*.backup

# Organizr
organizr/keys/
organizr/log/
organizr/organizr/loginLog.json
organizr/www/db/organizrLog.json
organizr/www/db/organizrLoginLog.json

# portainer

# zigbee2mqtt
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/database.db.backup
zigbee2mqtt/log
zigbee2mqtt/state.json
