# Example .gitignore file for your config dir.

# Ignore folders.
.storage
.cloud
.google.token
*__pycache__*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Other secrets and/or DB/info files to ignore
.HA_VERSION
plex.conf
*.log
*.db
*.db-shm
*.db-wal
.uuid
portainer/config.json
node-red/.config.json.backup
node-red/.sessions.json

# Helper scripts


# Security
*.key
*.pub
.secrets.env

# deconz

# dockermon

# Home Assistant
homeassistant/OZW_Log.txt

# mosquitto

# mqtt-bridge

# Node-RED
node-red/node_modules/
node-red/*.backup

# Organizr
organizr/keys/
organizr/log/
organizr/organizr/loginLog.json

# portainer
